* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  color: white;
}
header {
  font-size: 4rem;
}
body {
  padding: 60px;
  align-items: center;
  justify-content: center;
}
div {
  padding: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  width: 100%;
  border-bottom: 1px solid white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: black;
  padding: 15px;
}
::placeholder {
  color: white;
  opacity: 1;
  font-size: 1.1rem;
}
input[type="radio"] {
  width: 12px;
  height: 12px;
  accent-color: black;
  border-color: white;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: white;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  background-color: black;
  accent-color: black;
  cursor: pointer;
}
label {
  font-size: 1.1rem;
}
button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  width: 120px;
}
button:hover {
  opacity: 0.9;
}
